body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h3, p {
    padding: 0;
    margin: 0;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

  /* modal */
.backdrops{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    position: none;
    z-index: 1;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
} 

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-height: 584px;
    width: 408px;
    background-color: #fcfcfc;
    border-radius: 4px;
    z-index: 999;
    padding-left: 24px;
    padding-right: 24px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    /* background-color: #e7e9fc; */
    /* fill: var(--cornflower); */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}
.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
    fill: #FFFFFF;
}

.input-field:hover .input-icon,
.input-field:focus .input-icon {
    fill: #FFFFFF;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    Color: #2E2F42;
    margin-top: 72px;
    margin-bottom: 16px;;
    padding-right: 24px;
    padding-left: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.form {
    width: 360px;
    background: #fff;
    gap: 8px;
}

.the-first {}
}

.form-name {
    width: 100%;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    height: 40px; 
}

.form-text {
    line-height: 14px; 
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #D9D9D9;
}

.input-icon {
    fill: #2e2f42;
    position: relative;
    top: -28px;
    left: 16px;
}

.input-field {
    margin-top: 4px;
    padding-left: 38px;
    padding-right: 20px;
    width: 360px;
    border-radius: 4px;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);        
}

.the-first {
    display: flex;
}

.input-field:focus,
.input-field:hover,
.the-fourth-input:hover,
.the-fourth-input:focus {
    border: 1px solid #4d5ae5;
}
.the-fourth {
    width: 360px;
    height: 138px;
}
.the-fourth-input {
    margin-top: 4px;
    padding: 8px 16px;;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

}

.privacy-policy {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    
}
.modal-p {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.modal-a {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.checkbox {
    padding-right: 8px;
}
.modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 24px;
    padding-bottom: 24px;
   
}
.box-button {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
}
.style-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}
.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-part {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
    position: relative;
    color: #404BBF;
}
 .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404BBF;
    border-radius: 2px;
    width: 100%;
    height: 4px;
 }

.nav-link:hover,
.nav-link:focus {
    color:#404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-goals {
    padding: 32px 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.section-goals {
    padding: 120px 0;
    margin: 0 auto;
} 

.section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    
}

.small-container-goal {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.list-item-compact-container {
    width: calc((100% - 72px)/4);
}

.list-item-wide-container {
    width: calc((100% - 48px)/3);
}

.img-container {
    position: relative;
    overflow: hidden;
}

.list-item-bg {
    background-color: #FFFFFF; 
}

.list-item-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.box-shadow {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-shadow:hover,
.box-shadow:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 
    rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

 /* ------- Text overlay ------- */

.img-container {
    position: relative;
    overflow: hidden;
}
.img-container:hover .overlay {
    transform: translatey(0);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.overlay:hover,
.overlay:focus {
    transform: translateY(0%);
}

/* ------- ------- */

.list-item-shadow-container {
   
    text-align: center;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.list-our-portfolio {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px; 
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
    border-top: none;
}

.row-wrap-container {
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
   list-style: none;
   row-gap: 48px;
}

.main {
    
}

.board {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px; 
    background-size: cover;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url("../images/background-section-one.jpg");
    background-repeat: no-repeat;
    background-position: center;

}

.board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
}

.title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
    display: block;
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    cursor: pointer;
    height: 56px;
    min-width: 169px;
    border-radius: 4px;
    border:none;
    transition: background-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus,
.style-button:hover, .style-button:focus {
    background-color: #404BBF
}

.section-our-team {
    background-color: #F4F4FD;
}
.section-portfolio {
    background-color: #FFFFFF;
}

.social-links {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}   

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
} 

.link:hover,
.link:focus {
    background-color: #404bbf;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}   
.icon {
    fill: #f4f4fd;
}

.title-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.centr {
    text-align: center;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.title-page {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.the-third-section {
    padding: 120px 0 120px 0;
}

.footer {
    background: #2e2f42;
    padding: 100px 0;
}
.footer-parent-container {
    display: flex;
    align-items: baseline;
}
.footer-first-container {
    margin-right: 120px;
}
.footer-second-container {

}

.footer-social-links {
    display: flex;
    gap: 16px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #f4f4fd;
}
.footer-logo-link {
    display: inline-block;
    margin-bottom: 16px;
}

.social-title {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px; 
}

.list-social-links {
    width: 40px;
    height: 40px;
}

.footer-social-link {
   width: 100%;
   height: 100%; 
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background-color: #4d5ae5;
   transition: background-color 250ms 
   cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}